<div mat-dialog-title class="header-container">
  <div class="header-title">
    <div class="header-icon">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="header-text">
      Dicionário
    </div>
  </div>
  <div class="header-close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="content-container">
  <div class="input-field">
    <form [formGroup]="dicForm">
      <mat-form-field appearance="legacy">
        <label>Título</label>
        <input
          matInput
          formControlName="name"
        />
        <mat-error *ngIf="name?.errors?.['required']">
          Esse campo é obrigatório!
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="color-pick-field">
    <div class="picker-input">
      <input [(colorPicker)]="buttonColor" [style.background]="buttonColor"/>
    </div>
    <div class="picker-text">Cor de fundo do botão</div>
  </div>
  <div class="color-pick-field">
    <div class="picker-input">
      <input [(colorPicker)]="fontButtonColor" [style.background]="fontButtonColor"/>
    </div>
    <div class="picker-text">Cor da fonte do botão</div>
  </div>
  <div class="color-pick-field">
    <div class="picker-input">
      <input [(colorPicker)]="titleColor" [style.background]="titleColor"/>
    </div>
    <div class="picker-text">Cor da fonte para títulos</div>
  </div>
  <div class="color-pick-field">
    <div class="picker-input">
      <input [(colorPicker)]="iconColor" [style.background]="iconColor"/>
    </div>
    <div class="picker-text">Cor do ícone</div>
  </div>
  <!--<button (click)="getColor()">get</button>-->
</div>
<div mat-dialog-actions class="footer-container">
  <div class="save-button-field">
    <button
      mat-raised-button
      (click)="submit()"
      [disabled]="!dicForm.valid"
      [ngClass]="!dicForm.valid ? 'disabled' : ''"
    >
      Salvar
    </button>
  </div>
</div>
