.header-container{
  background-color: #263D8A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  .header-title{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    .header-icon {
      mat-icon {
        line-height: 37px;
      }
    }
    .header-text{
      line-height: 39px;
      margin-left: 9px;
    }
  }
}
.content-container{
  margin-left: 12px;
  padding: 0 !important;
}
.input-field{
  form {
    width: 91%;
    mat-form-field {
      width: 100%;
    }
  }
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    background-color: #263D8A;
    padding: 0 40px;
    color: #fff;
  }
}

.disabled{
  background-color: #e0e0e0 !important;
  color: #a6a6a6 !important;
}
.color-pick-field{
  display: flex;
  flex-direction: row;
  line-height: 28px;
  margin-bottom: 10px;
  .picker-text{
    margin-left: 10px;
  }
  .picker-input input{
    width: 25px;
    height: 25px;
    border: 1px solid #818181;
    border-radius: 4px;
  }
}
