<div class="header-field">
  <div class="header-title">
    <div class="header-text">Dicionário</div>
    <div class="add-button">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="header-helper">
    <div class="header-help-button">
      <button mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
    </div>
    <div class="header-help-text">Ajuda</div>
  </div>
</div>
<div class="content-field">
  <ng-container *ngFor="let dic of dicList">
    <div class="content-title">{{dic.name}}</div>
    <div class="content-buttons">
      <div class="consult-button">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="word-button">
        <button mat-icon-button>
          <mat-icon>abc</mat-icon>
        </button>
      </div>
      <div class="config-button">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="delete-button">
        <button mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
<div class="create-dic-field">
  <div class="add-button">
    <button mat-icon-button>
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
