<div mat-dialog-title class="header-container">
  <div class="header-title">
    <div class="header-icon">
      <mat-icon>description</mat-icon>
    </div>
    <div class="header-text">
      NOME-PALABVRA
    </div>
  </div>
  <div class="header-close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="content-container">
  <div class="extra-field">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus malesuada fermentum. Curabitur lacinia erat elit, sit amet vehicula magna tristique vitae. Nullam consectetur faucibus dictum. Phasellus eros nulla, laoreet non risus vitae, pretium lobortis mauris. Phasellus ultricies ac arcu nec congue. Phasellus ac vehicula velit. Vivamus sagittis scelerisque augue a rhoncus. Morbi suscipit, massa at pellentesque viverra, enim sapien luctus odio, vitae molestie est dolor eu tellus. Vivamus commodo mauris ac dignissim pulvinar.

Phasellus posuere velit eget sapien placerat facilisis. Proin a posuere nisl. Nullam sit amet neque velit. Phasellus sed neque felis. Vivamus vestibulum diam ligula, luctus facilisis turpis congue at. Vestibulum tempus tincidunt risus quis maximus. Cras egestas blandit mi, in posuere neque tristique sed. Nullam non varius sapien, sit amet porttitor risus. Vivamus congue tincidunt lacus ut mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus laoreet augue diam, vel malesuada lectus rhoncus nec. Curabitur auctor lobortis euismod. Proin pharetra urna sed sapien fermentum, et fringilla dolor consectetur. Sed sit amet gravida quam. Vestibulum finibus ligula ex, eu malesuada lacus sodales in.

Cras consectetur condimentum erat, volutpat congue mauris. Aenean interdum mi sed mauris iaculis, eget posuere elit tempus. Suspendisse nisi risus, commodo quis elementum vitae, tincidunt nec dui. Aenean in diam vitae mauris vehicula efficitur. Aenean eget mauris diam. Nunc ut tortor lacinia, laoreet purus ultricies, pretium leo. Cras mauris nisi, finibus sit amet suscipit et, tempus eget dui. Pellentesque feugiat libero eu porttitor interdum. Aliquam id fringilla augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur eu orci ut nisi porta consequat sed nec orci. Vestibulum facilisis molestie blandit. Sed id luctus magna.

In hac habitasse platea dictumst. In hac habitasse platea dictumst. Donec condimentum risus urna, eget commodo leo cursus vitae. Integer aliquam dictum erat. Sed magna erat, pharetra non ultricies eu, porta a metus. In ante diam, egestas quis sem et, porta dictum ligula. Nulla tempor pulvinar nisl, eu aliquet magna volutpat quis. Aliquam in ipsum et enim euismod tristique at et lectus. Ut tortor turpis, sagittis non laoreet et, interdum sed lacus. Integer ultrices, nisl non porta venenatis, lectus arcu varius neque, sed suscipit risus lacus id lectus. Etiam cursus eu lacus sit amet pharetra. Maecenas lobortis, turpis sed consectetur iaculis, augue sem eleifend dui, nec molestie ex urna quis nibh. Vivamus ipsum massa, posuere id maximus id, vestibulum vel orci. Vestibulum molestie lectus lorem, ut bibendum libero egestas id.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.

Nulla odio diam, pulvinar sed risus nec, dictum accumsan nibh. Duis gravida aliquet libero. Phasellus laoreet commodo ultricies. Vestibulum vel placerat nibh. In placerat est sit amet fermentum volutpat. Donec rhoncus tristique hendrerit. Nunc risus nisi, elementum vel nunc vitae, luctus ultricies enim. Nunc scelerisque metus odio, luctus finibus libero faucibus eu.
  </div>
</div>
<div mat-dialog-actions class="footer-container">
  <div class="save-button-field">
    <button
      mat-raised-button
      (click)="close()"
    >
      Fechar
    </button>
  </div>
</div>
