<div mat-dialog-title
  class="header-container"
  [style.BackgroundColor]="data.buttonColor"
>
  <div class="header-title">
    <div class="header-icon">
      <mat-icon
        [style.Color]="data.iconColor"
      >description</mat-icon>
    </div>
    <div class="header-text"
      [style.Color]="data.titleColor"
    >
      {{data.name}}
    </div>
  </div>
  <div class="header-close">
    <button mat-icon-button (click)="close()"
      matTooltip="Fechar"
      matTooltipPosition="above"
      [matTooltipShowDelay]="1"
      [matTooltipHideDelay]="1"
    >
      <mat-icon
        [style.Color]="data.fontButtonColor"
      >
        close
      </mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="content-container">
  <div class="extra-field">
    {{data.extra}}
  </div>
</div>
<div mat-dialog-actions class="footer-container">
  <div class="close-button-field">
    <button
      mat-raised-button
      (click)="close()"
      [style.BackgroundColor]="data.buttonColor"
    >
      <span [style.Color]="data.fontButtonColor">
        Fechar
      </span>
    </button>
  </div>
</div>
