<div mat-dialog-title class="header-container">
  <div class="header-title">
    <div class="header-icon">
      <mat-icon>description</mat-icon>
    </div>
    <div class="header-text">
      {{data.name}}
    </div>
  </div>
  <div class="header-close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="content-container">
  <div class="extra-field">
    {{data.extra}}
  </div>
</div>
<div mat-dialog-actions class="footer-container">
  <div class="close-button-field">
    <button
      mat-raised-button
      (click)="close()"
    >
      Fechar
    </button>
  </div>
</div>
