<div mat-dialog-title class="header-container">
  <div class="header-title">
    <div class="header-icon">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="header-text">
      <span>Editar</span>
      <span>Cadastrar</span>
      <span>Palavra</span>
    </div>
  </div>
  <div class="header-close">
    <button mat-icon-button
     (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="content-container">
  <div class="input-field">
    <form [formGroup]="wordForm">
      <mat-form-field appearance="legacy">
        <label>Palavra</label>
        <input
          matInput
          formControlName="name"
        />
        <mat-error *ngIf="name?.errors?.['required']">
          Esse campo é obrigatório!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <label>Definição</label>
        <input
          matInput
          formControlName="definition"
        />
        <mat-error *ngIf="definition?.errors?.['required']">
          Esse campo é obrigatório!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <label>Definição extra</label>
        <textarea
          matInput
          formControlName="extra"
        >
        </textarea>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="footer-container">
  <div class="save-button-field">
    <button
      mat-raised-button
      (click)="submit()"
      [ngClass]="!wordForm.valid ? 'disabled' : ''"
      [disabled]="!wordForm.valid"
    >
      Salvar
    </button>
  </div>
</div>
