<div class="header-field">
  <div class="header-title">
    <div class="header-text">Dicionário {{dataRoute.name}}</div>
  </div>
  <div class="header-options">
    <div class="header-options-button">
      <button mat-icon-button>
        <mat-icon>abc</mat-icon>
      </button>
      <button class="config-button" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="content-field">
  <div
    class="content-line"
    *ngFor="let word of wordArray
    let evenItem = even;
    let oddItem = odd;"
    [class.even]="evenItem"
    [class.odd]="oddItem"
  >
    <div class="content-header">
      <div class="content-title">{{word.name}}</div>
      <div class="content-extra">
        <a *ngIf="word.extra !=''" (click)="openExtra(word)">ver mais</a>
      </div>
    </div>
    <div class="content-definition">
      <div class="content-text">{{word.definition}}</div>
    </div>
  </div>
</div>
