<div
  class="header-box-color"
  [style.BackgroundColor]="dataRoute.buttonColor"
></div>
<div class="header-field">
  <div class="header-title">
    <div class="header-text" [style.Color]="dataRoute.titleColor">Dicionário {{dataRoute.name}}</div>
  </div>
  <div class="header-options">
    <div class="header-options-button">
      <button
        mat-icon-button
        [style.BackgroundColor]="dataRoute.buttonColor"
        matTooltip="Palavras"
        matTooltipPosition="above"
        [matTooltipShowDelay]="1"
        [matTooltipHideDelay]="1"
      >
        <mat-icon [style.Color]="dataRoute.fontButtonColor">abc</mat-icon>
      </button>
      <button
        class="config-button"
        mat-icon-button
        [style.BackgroundColor]="dataRoute.buttonColor"
        matTooltip="Configurar"
        matTooltipPosition="above"
        [matTooltipShowDelay]="1"
        [matTooltipHideDelay]="1"
      >
        <mat-icon [style.Color]="dataRoute.fontButtonColor">settings</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="content-field">
  <div class="filter-container">
    <filter-words #filter
        [array]="baseArray"
        (pick)="refreshArray($event)"
      ></filter-words>
  </div>
  <div
    class="content-line"
    *ngFor="let word of wordArray
    let evenItem = even;
    let oddItem = odd;"
    [class.even]="evenItem"
    [class.odd]="oddItem"
  >
    <div class="content-header">
      <div class="content-title">{{word.name}}</div>
      <div class="content-extra">
        <a
          *ngIf="word.extra !=''"
          (click)="openExtra(word)"
          [style.Color]="dataRoute.titleColor"
        >
          ver mais
        </a>
      </div>
    </div>
    <div class="content-definition">
      <div class="content-text">{{word.definition}}</div>
    </div>
  </div>
</div>
